@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Preactica 2</h1>
    
</div>

<div class="row">
    <img class="img-fluid rounded" src="~/imagenes/ITLA.jpg" alt="Foto itla">
</div>
